<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.accompany">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".new_menu" />
        <activity android:name=".additional_info_display" />
        <activity android:name=".additional_info" />
        <activity android:name=".MenuListAdapter" />
        <activity android:name=".RestaurantsAdapter" />
        <activity android:name=".CheckoutActivity" />
        <activity android:name=".ConcessionListView" />
        <activity android:name=".MenuItemDetail" />
        <activity android:name=".MenuItemDetailActivity" />
        <activity android:name=".MenuListActivity" />
        <activity android:name=".SingleSelectionActivity" />
        <activity android:name=".ConcessionViewActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".UserInfo" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>